navbar(class="navbar navbar-expand-lg navbar-light bg-light")
    a(class="navbar-brand" href="/tweets")
        img(src="/images/twitter.png" height="30" width="30")
    button(class="navbar-toggler")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse")
        ul(class="navbar-nav ms-auto")
            li(class="nav-item active")
                a(class="btn btn-primary btn-tweet mr-3" href="/tweets/new") Tweet
            li(class="nav-item")
                a(href="#" class="nav-link") Connexion
            li(class="nav-item")
                a(href="/users/signup/form" class="nav-link") Inscription
            